<mat-card>
  <mat-card-title>Resumo da Viagem</mat-card-title>
  <mat-card-content>
    <div class="container-viagem">
      <div class="uppercase mt-5">
        <strong> Origem:</strong> Brasil (São Paulo)
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong>Destino:</strong> Canadá (Montereal)
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        <strong> Distância:</strong> 8.149,9 km
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        1<strong> adulto(s)</strong>, 0 <strong> criança(s)</strong>
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        <strong>Tipo de Vôo:</strong> Classe Econômica
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        R$ 4.074,95 <strong> por adulto</strong>
        <mat-divider></mat-divider>
      </div>
      <div class="uppercase mt-5">
        R$ 4.074,95 <strong> por criança</strong>
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong> Milhas:</strong> 0
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong> Valor abatido por milhas:</strong> R$ 0,00
        <mat-divider></mat-divider>
      </div>
      <div class="uppercase mt-5">
        <strong> Total:</strong> R$ 4.074,95
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card-content>
</mat-card>
