<mat-card>
  <mat-card-title>Resumo da Viagem</mat-card-title>
  <mat-card-content>

    <div class="container-viagem">
      <div class="uppercase mt-5">
        <strong> Origem:</strong> {{appViagemService.countrySelectOriginOutput}}
        ({{appViagemService.citySelectOriginOutput}})
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong>Destino:</strong> {{appViagemService.countrySelectDestinyOutput}}
        ({{appViagemService.citySelectDestinyOutput}})
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        <strong> Distância:</strong> 8.149,9 km
        {{distance}}
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        {{appViagemService.qtdAdults}}<strong> adulto(s)</strong>, {{appViagemService.qtdchildren}} <strong>
          criança(s)</strong>
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        <strong>Tipo de Vôo:</strong> Classe {{appViagemService.form.value.typeFlight}}
        <mat-divider></mat-divider>
      </div>


      <div class="uppercase mt-5">
        R$ 4.074,95 <strong> por adulto</strong>
        <mat-divider></mat-divider>
      </div>
      <div class="uppercase mt-5">
        R$ 4.074,95 <strong> por criança</strong>
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong> Milhas:</strong> {{appViagemService.form.value.miles | number: '5.1-2'}}
        <mat-divider></mat-divider>
      </div>

      <div class="uppercase mt-5">
        <strong> Valor abatido por milhas:</strong> R$ 0,00
        <mat-divider></mat-divider>
      </div>
      <div class="uppercase mt-5">
        <strong> Total:</strong> R$ 4.074,95
      </div>
    </div>
  </mat-card-content>
</mat-card>
