/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-viagem{
  display: flex;
  flex-direction: column;
}

.m-5{
  margin: 3em 3em;
}


